<h2>Offers</h2>
<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <!-- <button pButton pRipple label="New Offers" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button> -->
        <button pButton pRipple [label]="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedOffers()" [disabled]="!selectedOffers || !selectedOffers.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
        <button pButton pRipple label="Save Offer(s)" icon="pi pi-upload" class="p-button-help" (click)="onSaveFile()"></button>
    </ng-template>
</p-toolbar> 

<p-table #dt [value]="offers" [rows]="10" [paginator]="true" [globalFilterFields]="['name','country.name','representative.name','status']"
    [(selection)]="selectedOffers" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            <h5 class="m-0">Manage Offers</h5>
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 3rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
            </th>
            <th pSortableColumn="id">Offer ID <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="offerdetail">Offer Details <p-sortIcon field="offerdetail"></p-sortIcon></th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-offer>
        <tr>
            <td>
                <p-tableCheckbox [value]="offer"></p-tableCheckbox>
            </td>
            <td>{{offer.id}}</td>
            <td>{{offer.offerdetail | json }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
           Total Offers: {{offers ? offers.length : 0 }}
        </div>
    </ng-template>
</p-table>

<p-dialog [(visible)]="offerDialog" [style]="{width: '450px'}" header="Offer Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="name">Name</label>
            <input type="text" pInputText id="id" [(ngModel)]="offer.id" required autofocus />
            <small class="p-error" *ngIf="submitted && !offer.id">Offer ID is required.</small>
        </div>
        <div class="p-field">
            <label for="publisherId">Publisher</label>
            <input type="text" pInputText id="publisherId" [(ngModel)]="offer.publisherId" required autofocus />
        </div>
        <div class="p-field">
            <label for="registrationMarker">Registration or Deregistration</label>
            <p-dropdown [(ngModel)]="offer.registrationMarker" inputId="registrationMarker" [options]="registerStatus" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'offer-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-field">
            <label for="gender">Gender</label>
            <p-dropdown [(ngModel)]="offer.gender" inputId="gender" [options]="genderStatus" placeholder="Select">
                <ng-template let-option pTemplate="item">
                    <span [class]="'offer-badge status-' + option.value">{{option.label}}</span>
                </ng-template>
            </p-dropdown>
        </div>
        <div class="p-field">
            <label for="birthYear">Year of Birth</label>
            <input type="text" pInputText id="birthYear" [(ngModel)]="offer.birthYear" required autofocus />
            <small class="p-error" *ngIf="submitted && !offer.birthYear">Year is required.</small>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveOffer()"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>